<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddsh.goods.service.dao.GoodsTypeInfoTreeMapper">
	<resultMap id="BaseResultMap" type="com.ddshteam.web.system.service.api.data.Tree">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="isLeaf" jdbcType="INTEGER" property="isLeaf" />
	</resultMap>
	<sql id="Base_Column_List">
		p.id, p.parent_id, p.name, count(c.id) > 0 as isLeaf
	</sql>
	<!-- select p.id, p.parent_id, p.name, count(c.id) > 0 as isLeaf from goods_brand_info 
		p left join goods_type_info c on p.id=c.parent_id group by p.id; -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		p.id, p.parent_id, p.name, count(c.id) > 0 as isLeaf 
		from goods_type_info p left join goods_type_info c on
		p.id=c.parent_id
		where p.parent_id = #{id,jdbcType=VARCHAR} group by p.id
	</select>
</mapper>