<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddsh.goods.service.dao.GoodsInfoCustomizeMapper">
  <resultMap id="BaseResultMap" type="com.ddsh.goods.service.api.data.GoodsInfoRespData">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="norm" jdbcType="VARCHAR" property="norm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
    <result column="brandName" jdbcType="VARCHAR" property="brandName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gi.id as id, gi.name as name, gi.code as code, gi.type_id as type_id, gi.brand_id as brand_id, gi.color as color, gi.unit as unit, gi.norm as norm, gi.remark as remark, gi.status as status, gi.order_num as order_num, 
    gi.create_time as create_time, gt.name as typeName ,gb.name as brandName
  </sql>
  <select id="selectByExample" parameterType="com.ddsh.goods.service.api.model.GoodsInfoCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods_info gi,goods_type_info gt,goods_brand_info gb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
     and gi.type_id=gt.id and gi.brand_id=gb.id order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_info gi,goods_type_info gt,goods_brand_info gb
    where gi.id = #{id,jdbcType=VARCHAR} and gi.type_id=gt.id and gi.brand_id=gb.id
  </select>
 
 
  
   
 
</mapper>